{% extends "layout.njk" %}

{% block head %}
<title>Receitas - Foodfy</title>
{% endblock %}

{% block nav %}
<a href="/sobre">Sobre</a>
<a href="/receitas"><strong>Receitas</strong></a>
{% endblock %}

{% block content %}
<section id="receitas">
    <div class="receitas-container">
    {% for receita in receitas %}
        <article class="receita-card">
            <img src="{{ receita.url }}" alt="Foto de {{ receita.nome }}">
            <h3>{{ receita.nome }}</h3>
            <h4>por {{ receita.autor }}</h4>
        </article>
    {% endfor %}
    </div>
</section>

<div class="modal-overlay">
    <div class="modal-container">
        <div class="modal-card">
            <img src="" alt="Foto da receita">
            <h2></h2>
            <h3></h3>
            <a src="" id="close-modal">Fechar</a>
        </div>
    </div>
</div>
{% endblock %}}